{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainers</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to the Trainers Page</h1>
    <p>Go back to: <a href="{% url 'core:homepage' %}">Homepage</a> </p>
    <table>
        <tr>
          <th>Trainer Name</th>
          <th>Preferred Type</th>
          <th>Gym Badge</th>
        </tr>
        <tr>
          <td>Brock</td>
          <td>Rock</td>
          <td>Boulder Badge</td>
        </tr>
        <tr>
          <td>Misty</td>
          <td>Water</td>
          <td>Cascade Badge</td>
        </tr>
        <tr>
            <td>Lieutenant Surge</td>
            <td>Electric</td>
            <td>Thunder Badge</td>
          </tr>
          <tr>
            <td>Erika</td>
            <td>Grass</td>
            <td>Rainbow Badge</td>
          </tr>
          <tr>
            <td>Koga</td>
            <td>Poison</td>
            <td>Soul Badge</td>
          </tr>
          <tr>
            <td>Sabrina</td>
            <td>Psychic</td>
            <td>Marsh Badge</td>
          </tr>
          <tr>
            <td>Giovanni</td>
            <td>Ground</td>
            <td>Earth Badge</td>
          </tr>
      </table>
    <script>

    </script>
</body>
</html>
