{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/pokemon.css' %}">
</head>
    
<body>
    <h4 class="mt-3"><a href="{% url 'pokemon:index' %}" class="btn btn-secondary">Back</a></h4>
    <h1 class="mt-4">Welcome to {{ poke_data.name|title }}'s Page</h1>
    <h2>Name: {{ poke_data.name|title }}</h2>
    <h3>Types:</h3>
    <ul class="list-group">
        {% for type in poke_data.types %}
            <li class="list-group-item">
                <strong>{{ type.type.name|title }}</strong>
            </li>
        {% endfor %}
    </ul>  

    <h3 class="mt-3">Stats:</h3>
    <ul class="list-group">
        {% for stat in poke_data.stats %}
            <li class="list-group-item">
                <strong>{{ stat.stat.name|title }}</strong>: {{ stat.base_stat|title }}
            </li>
        {% endfor %}
    </ul>
    <p class="mt-3">Go back to: <a href="{% url 'core:homepage' %}" class="btn btn-primary">Homepage</a></p>

    <!-- Bootstrap JS and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
